header{position: absolute;
    background-color: black;
    width: 100%;
    height: 60px;}
.title{color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
}
ul{list-style-type: none;
    float: right;
    